h1, h2, h3, h4 {font-family: "EB Garamond"; color: rgb(220, 40, 40); font-weight: 600; letter-spacing: 1px; line-height: 1.3;}
h1 {font-size: 22px;}
h2 {font-size: 17px;}
h3 {font-size: 15px;}
h4 {font-size: 14px;}

body {
    font-family: "Cabin"; 
    color:rgb(50, 50, 50);
    background-color: rgb(250, 250, 248);
    font-size: 14px; 
    padding-left: 10px;
}

#navbar {
	display: inline-block;
	max-width: 1015px;
	box-sizing: border-box;
	font-size: 12px;
	font-weight: 400;
	letter-spacing:	 0.08em;
	line-height: 14px;
	margin-top: 0px;
}

#navbar .box {
	display: table-cell; 
	box-sizing: border-box;
	vertical-align: middle;
	white-space: nowrap;
	padding: 0px 9px;
}

#navbar .first_box {
	padding-left: 0px;
    padding-right: 20px;
    padding-bottom: 6px;
    vertical-align: top;
}

.link:link {color: rgb(153, 153, 153);}
.link:visited {color: rgb(153, 153, 153);}
.link:hover {color: rgb(50, 50, 50);}
.link:active {color: rgb(220, 40, 40);}

.flex-container {
	display:flex;
}

.flex-container #project-menu {
	width: 80px;
	flex: 1 1 auto;
}

.flex-container #project-feature {
	flex: 8 1 auto;
}