h1, h2, h3, h4 {font-family: "EB Garamond"; color: rgb(220, 40, 40); font-weight: 600; letter-spacing: 1px; line-height: 1.3;}
h1 {font-size: 22px;}
h2 {font-size: 17px;}
h3 {font-size: 15px;}
h4 {font-size: 14px;}

body {
    font-family: "Cabin"; 
    color:rgb(50, 50, 50);
    background-color: rgb(250, 250, 248);
    font-size: 14px; 
    padding-left: 10px;
}

#navbar {
	display: inline-block;
	max-width: 1015px;
	box-sizing: border-box;
	font-size: 12px;
	font-weight: 400;
	letter-spacing:	 0.08em;
	line-height: 14px;
	margin-top: 0px;
}

#navbar .box {
	display: table-cell; 
	box-sizing: border-box;
	vertical-align: middle;
	white-space: nowrap;
	padding: 0px 9px;
}

#navbar .first_box {
	padding-left: 0px;
    padding-right: 20px;
    padding-bottom: 6px;
    vertical-align: top;
}

.link:link {color: rgb(153, 153, 153);}
.link:visited {color: rgb(153, 153, 153);}
.link:hover {color: rgb(50, 50, 50);}
.link:active {color: rgb(220, 40, 40);}

.flex-container {
	display:flex;
}

.flex-container .project-menu {
	width: 80px;
	flex: 1 1 auto;
}

.flex-container .project-feature {
	width: 400px;
	height: 400px;
	flex: 8 1 auto;
}

/*project menu*/

.project-menu ul {
	list-style-position: inside; 
	padding-left: 0;
}

/*source: https://labs.jensimmons.com/2017/01-011.html*/

.block-sizes {
	border: 6px solid rgb(50, 50, 50);
}

.block-sizes ul, li {
		margin: 0;
		padding: 0;
		list-style: none;
	}

.block-sizes	ul {
		display: grid;
		clip-path: polygon(10px 6px, calc(100% - 7px) 6px, calc(100% - 7px) calc(100% - 6px), 10px calc(100% - 6px));
		grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
		grid-auto-rows: 80px;
		grid-auto-flow: dense;
	}
.block-sizes	li {
		height: 100%;
		/* border: 6px solid rgb(50, 50, 50); */
		background-size: cover;
	}
	.block-sizes li:nth-child(1) {
		grid-column: span 2;
		background-color: #E5EEEB; 
	}
	.block-sizes li:nth-child(2) {
		grid-column: span 3;
		background-color: #F2E7D5;
	}
	.block-sizes li:nth-child(3) {
		grid-column: span 2;
		background-color: #F2C968;
	}
	.block-sizes li:nth-child(4) {
		grid-row: span 6;
		background-color: #FCFDE7;
	}
	.block-sizes li:nth-child(5) {
		grid-row: span 2;
		background-color: #FBFDE7;
	}
	.block-sizes li:nth-child(6) {
		grid-column: span 4;
		grid-row: span 4;
		background-color: #D62D24;
	}
	.block-sizes li:nth-child(7) {
		grid-row: span 2;
		grid-column: span 2;
		background-color: #EDCC6B;
	}
	.block-sizes li:nth-child(8) {
		grid-row: span 3;
		background-color: #E1EAE5;
	}
	.block-sizes li:nth-child(9) {
		grid-row: span 2;
		background-color: #DFE5D0;
	}
	.block-sizes li:nth-child(10) {
		grid-row: span 2;
		background-color: #F2EEE2;
	}
	.block-sizes li:nth-child(11) {
		grid-row: span 2;
		grid-column: span 2;
		background-color: #130409;
	}
	.block-sizes li:nth-child(12) {
		grid-column: span 2;
		background-color: #C0BFBA;
	}
	.block-sizes li:nth-child(13) {
		grid-column: span 2;
		background-color: #D6DEE0;
	}
	.block-sizes li:nth-child(14) {
		grid-row: span 3;
		background-color: #F4C65A;
	}
	.block-sizes li:nth-child(15) {
		grid-column: span 2;
		background-color: #DEE2D4;
	}
	.block-sizes li:nth-child(16) {
		grid-row: span 2;
		grid-column: span 2;
		background-color: #241785;
	}
	.block-sizes li:nth-child(17) {
		grid-row: span 3;
		background-color: #D73630;
	}
	.block-sizes li:nth-child(18) {
		grid-column: span 2;
		grid-row: span 2;
		background-color: #E3DED9;
	}
	.block-sizes li:nth-child(19) {
		grid-column: span 2;
		background-color: #0B0205;
	}
	.block-sizes li:nth-child(20) {
		grid-column: span 4;
		background-color: #E0E0DF;
	}

